<!DOCTYPE html>
<html>
  <head>
    <title>Instagram4Kids</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= link_to image_tag("gametimelj.jpg", alt: "logo"), '/', class: 'navbar-brand' %>
            <%= link_to "Instagram4Kids", '#', id: "prov", class: 'navbar-brand' %>
          </a>
        </div>
        <div class="m-auto">
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
            <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
          <% end %>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user)%>">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li class="list-inline-item"><%= link_to "ABOUT", about_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "SUPPORT", support_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "PRESS", press_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "BLOG", blog_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "CARRERS", careers_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "PRIVACY", privacy_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "TERMS", terms_path, style: "text-decoration: none;" %></li>
          <li class="list-inline-item"><%= link_to "FAQ", faq_path, style: "text-decoration: none;" %></li>
          <li><a href="facebook.com"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
          <li><a href="https://twitter.com"><i class="fa fa-twitter-square fa-2x fa-fw"></i></a></li>
					<li><a href="https://www.instagram.com/freshmurry/" target="_blank"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>	
        </ul>
        <p> © 2018 Instagram4Kids </p>
      </nav>
    </footer>
  </body>
</html>
